*{
    box-sizing: border-box;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "h h h h"
        "n n n n"
        "as ar ar ar"
        "f f f f";
}


header{
    grid-area: h;
    background-color: rgb(224, 168, 168);
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

h1{
    text-align: justify;
}

h2{
    font-weight: lighter;
    color: grey;
    text-decoration: underline;
    padding-top: 20px;
}

h3{
    font-weight: bold;
    color: grey;
    text-decoration: underline;
    padding-top: 20px;
}

nav{
    grid-area: n;
    background-color: rgb(167, 138, 138);
    margin: 10px;

}



nav li{
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

nav li:hover{
    background-color: beige;

}

nav ul{
    display: grid;
    grid-template-columns: 100px 100px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

aside{
    grid-area: as;
    padding: 10px;
}

aside h3{
    text-align: left;
}



article{
    grid-area: ar;
    padding: 10px;
}

article img{

    max-width: 100%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

footer{
    grid-area: f;
    background-color: rgb(224, 168, 168);
    border-radius: 0 0 10px 10px ;
    margin: 10px;
    padding: 15px;
}



@media (max-width: 600px) {

main {
grid-template-columns: 1fr;
grid-template-areas:
"h"
"n"
"ar"
"as"
"f"
}

p{
    font-size: calc(10px + 2vw);
}
}